<h1>Coleções</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catalogs.each do |catalog| %>
  <tr>
    <td><%= catalog.name %></td>
    <td><%= link_to 'Show', catalog %></td>
  </tr>
<% end %>
</table>

<br />
