<% if notice %>
<p id='notice'><%= notice %> </p>
<% end %>

<div>
	<% @categories.each do |category|%>
		<%= image_tag category.logo, :height => '320', :width => '320', :alt => category.name%>
	<% end %>
</div>