<table>   
	<thead>
	<tr>
    	<th>Produto</th>
		<th>Quantidade</th>
		<th>Preço</th>
	</tr>
	</thead> 
    <%= render(cart.line_items) %>
	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>

<%= link_to 'Finalizar Compra', new_order_path, :method => :get %>
<%= link_to 'Limpar Carrinho', cart, :method => :delete, :confirm => 'Tem a certeza?'%>

