/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
div.main 
{
	width:700px;
}

.info
{
	float:right;
	padding: 10px 0px;
}
.info a{
  	padding: 10px 10px 11px;
	cursor:pointer;
}

#user_nav
{
	display: block;
	color: #444;
  	line-height: 19px;
  	text-decoration: none;
}

.topbar.criart {
height: 290px;
background-color: #F1F1F1;
background-image: none;
}

.topbar
{position: static!important;}

.topbar div.fill
{
	background-color:#F1F1F1!important;
	background-image: none;
	color: #BFBFBF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

h3.home {
line-height: 150%;
font-weight: normal;
margin-top: 10px;
margin-bottom: 20px;
}

.mtop40{margin-top:40px;}
.mbottom40{margin-bottom:40px;}
.text-centered {text-align:center;}

body{padding-top:0px!important;}