/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.mtop30
{margin-top:30px;}

.span7
{text-align:center;}

.mtop60
{margin-top:60px;}

.mbottom60
{margin-bottom:60px;}

.mright60
{margin-right:60px;}
iframe.complete
{
	height:70px;
	display:block;
	margin-left: 0px;	
}
iframe.count
{
	width:130px;
	margin-left:5px;
}

.priceD
{
	float:right;
	margin-right:10px;
	font-size: 1.2em;
	color: #626262;
	font-weight: bold;
}

.description
{
	text-align: justify;
}
#title
{
	font-size: 20px;
	font-weight: bold;
}

form
{float:right; margin-right:60px;}