<tr>
    <td><%= line_item.product.name %></td>
	<td><%= line_item.quantity %><%= button_to '',  line_item, :method => :delete, :confirm => 'Tem a certeza?'%></td>
	<td class="item_price"><%= number_to_currency(line_item.product.price) %></td>
</tr>