$("#totalElems").html("(<%= @cart.total_quantity %>)")
$("#notice").empty().addClass("success").removeClass("error").append("<a class=\"close\" href=\"#\">×</a><p>Producto adicionado ao carrinho!</p>").fadeIn().delay(2000).fadeOut()
